#### MODULES ####

$ModLoad imfile.so      # provides logging files remotely

#### GLOBAL DIRECTIVES ####

$InputFileName {{item.file}}
$InputFileFacility {{item.facility}}
$InputFileTag {{item.tag}}
$InputFileStateFile state-{{item.name}}
$InputRunFileMonitor
